input{
    outline: none;
    box-shadow: none;
    border: 1px solid grey;
    padding: 5px;
    width: 100%;
}
.btn-submit{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
#btnsend{
    width: 28%;
    cursor: pointer;
    justify-content: center;
    margin-left: 115px;
      
}

